html {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    width: 375px;
    height: 610px;
    border-radius: 3%;
}

.nft {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 360px;
    padding-top: 20px;
    border-radius: 10px;
    border-top-left-radius: 9%;
    border-top-right-radius: 9%;
}

.view {
    position: absolute;
    width: 337.5px;
    height: 337.5px;
    margin-top: 20px;
    background-color: hsl(178, 100%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px hidden hsl(178, 100%, 50%);
    border-radius: 10px;
    opacity: 0.5;
    visibility: hidden;
    transition: background-color 2s;
}

.eye {
    width: 48px;
    height: 48px;
}

img:hover+div {
    visibility: visible;
}

.h1 {
    width: 330px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
    transition: all 1s;
}

h1:hover {
    color: hsl(178, 100%, 50%);
}

section p {
    max-width: 85%;
    font-size: 18px;
    padding-right: 12px;
    font-weight: lighter;
    color: hsl(215, 51%, 70%);
}


.lastline {
    min-width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}


.lastline .eth {
    color: hsl(178, 100%, 50%);
}

.lastline .clock {
    padding-right: 5px;
    color: hsl(215, 51%, 70%);
}

.bottom {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
}

.bottom img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 47%;
    margin-top: 15px;
}

.text {
    padding: 22.5px 0 0 20px;
    color: hsl(215, 51%, 70%);
    transition: none;
}

#name {
    color: white;
    font-weight: 300;
    transition: color 1s;
}

span #name:hover {
    color: hsl(178, 100%, 50%);
}